.nav {
  min-height: 5rem;
  max-width: 100%;
  background-image: linear-gradient(to right, #fff, $color-primary);

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-right: 5rem;
  }

  &__item {
    transition: all 0.3s;
    cursor: pointer;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 1.4rem;
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  &__img {
    height: 5rem;
  }
}

.last {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 1px;
  transition: all 0.3s;

  &:hover {
    opacity: 0.9;
  }

  a {
    color: $color-primary !important;
    display: block;
  }
}
